@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    line-height: 1.5;
    font-size: 16px;
    margin: 5px;
    padding: 5px;
    font-family: 'Poppins' sans-serif;
    text-decoration: none;
}

.footer {
    min-height: auto;
    padding-top: 0;
    padding-bottom: 12px;
    background: #bed4f6;
    box-shadow: 0 10px 10px black;
    z-index: 1000;
}

.footer .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer .box-container .box {
    flex: 1 1 25rem;
    margin: 2.5rem;
}

.footer .box-container .box h3 {
    font-size: 2.5rem;
    padding-bottom: 1rem;
    font-weight: normal;
}

.footer .box-container .box p {
    font-size: 1.5rem;
    padding: 0.7rem 0;
    text-transform: none;
}

.footer .box-container .box p i {
    padding-right: 1rem;
    color: #ffae00;
}

.footer .box-container .box a {
    font-size: 1.5rem;
    padding: 0.3rem 0;
    display: block;
    color: black;
}

.footer .box-container .box a:hover {
    color: #ffae00;
}

.footer .box-container .box .share {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.footer .box-container .box .share a {
    padding: 1rem;
    text-align: center;
    border-radius: 5rem;
    font-size: 1.7rem;
    margin-right: 1rem;
    transition: 0.2s;
    background: rgb(230, 230, 230);
    color: #02094b;
    border: none;
}

.footer .box-container .box .share a:hover {
    background: transparent;
    transform: scale(0.98);
    border: 0.1rem solid rgb(180, 178, 178);
    color: #ffae00;
}

.footer .credit {
    padding: 1rem 0 0 0;
    text-align: center;
    font-size: 1.5rem;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    margin-left: 40px;
    margin-right: 40px;
    border-top: 0.2rem solid white;
}

.footer .credit a {
    color: #ffae00;
}

.footer .fa {
    color: #e90606;
    margin: 0 0.3rem;
    font-size: 1.5rem;
    animation: pound 0.35s infinite alternate;
}